#github{
	margin:auto;
	width: 100%;
}
body{
	background-image: url('image/twigs-4211837_1280.webp');
	color:aliceblue;
}
.github{
	width: 100px;
	position: absolute;
	bottom:0; right:0;
}
#githubtip {
	position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
	text-align: center;
	visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
	opacity: 0;
	transition: opacity .6s
}
.github:hover #githubtip {
	opacity: 1;
    visibility: visible;
}
.query{
	display:inline-block;
	background-color: aliceblue;
	opacity: 0.7;
	color: black;
}
#main {
	margin: 5% 5%;
	background-color: rgba(255, 255, 255, 0.76);
	padding: 3% 5%;
	padding-top: 1%;
	color: black;
	font-family: "Comic Sans MS","-apple-system","SF UI Text","Arial","PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei","sans-serif","Consolas";
	color:rgb(81, 81, 81);
	outline:rgb(81, 81, 81);
}